*{
    font-family: 'Courier New', Courier, monospace;    
}

body{
    margin: 0;
}

.header{
    border-bottom: solid 3px aqua;
    background-color: #000;
}

.header .containt{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .containt ul{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: orange;  
}

.header h1{
    color: aqua;
}

.header a{
    color: orange;
    text-decoration: none;
}
